/* footer {
    font-family: 'Acme', sans-serif;
    width: 100%;
    padding: 30px 0 10px 0;
    background-color: #202020  ;
    color: #fdf1fd;
  }
  
  .title-logo--footer {
    float: right;
    padding-right: 40px;
    text-transform: uppercase;
  }
  
  .footer-nav {
    float: left;
    margin-right: 25px;
  }
  
  .footer-nav-list {
    list-style: none;
  }
  .footer-nav-item {
    display: inline-block;
    margin: 0 5px;
  }
  
  .footer-nav-item a:link,
  .footer-nav-item a:visited {
    text-decoration: none;
    color: #fefaec;
    transition: opacity 0.25s;
    text-transform: uppercase;
  }
  
  .footer-nav-item a:hover,
  .footer-nav-item a:active {
    opacity: 0.75;
  }
  
  .copy-rights,
  .contactus-bar {
    color: #ffffff;
    font-size: 80%;
    font-weight: 200;
  }
  
  .imgHouse{
    width: 40%;
    height: 65%;
    float: left;
  }
  
  
  .copy-rights {
    width: 90%;
    text-align: center;
    margin-top: 90px;
    margin-left: 60px;
  }
  
  .contactus-bar {
    padding-left: 2px;
    width: 100%;
    margin-top: 30px;
    margin-left: 20px;
    text-align: center;
  }
  .contact-us{
    clear: both;
    margin-left: 10px;
  }
  .contactus-bar-list {
    list-style: none;
  }
  .social-bar{
    margin-top: 60px;
    margin-left: 87%;
    padding-left: 20px;
    position: absolute;
  }
  footer{
    position: relative;
    height: 165px;
  
  }
  
  span{
    color: #b7d972;
  } */

/* footer */
footer {
  font-family: 'Acme', sans-serif;
  width: 100%;
  padding: 30px 0 10px 0;
  background-color: rgb(109, 124, 138);
  color: #fdf1fd;
}

.title-logo--footer {
  float: right;
  padding-right: 40px;
  text-transform: uppercase;
}

.footer-nav {
  float: left;
  margin-right: 25px;
}

.footer-nav-list {
  list-style: none;
}
.footer-nav-item {
  display: inline-block;
  margin: 0 5px;
}

.footer-nav-item a:link,
.footer-nav-item a:visited {
  text-decoration: none;
  color: #fefaec;
  transition: opacity 0.25s;
  text-transform: uppercase;
}

.footer-nav-item a:hover,
.footer-nav-item a:active {
  opacity: 0.75;
}

.copy-rights,
.contactus-bar {
  color: #ffffff;
  font-size: 80%;
  font-weight: 200;
}

.imgHouse {
  width: 40%;
  height: 65%;
  float: left;
}

.copy-rights {
  width: 90%;
  text-align: center;
  margin-top: 45px;
  margin-left: -150px;
}

.contactus-bar {
  padding-left: 2px;
  width: 100%;
  margin-top: 30px;
  margin-left: 20px;
  text-align: center;
}
.contact-us {
  clear: both;
  margin-left: 10px;
}
.contactus-bar-list {
  list-style: none;
}
.social-bar {
  margin-top: 60px;
  margin-left: 87%;
  padding-left: 20px;
  position: absolute;
}
footer {
  position: relative;
  height: 165px;
}

span {
  color: #f6f5f4;
}
