/* .container {
  position: relative;
}
.container {
  width: 100%;
  height: auto;
}
.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(181, 180, 182);
  color: rgb(42, 37, 37);
  font-size: 30px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-family: 'Anton', sans-serif;
}
.btn:hover {
  background-color: rgb(224, 175, 175);
}
section {
  background: rgb(241, 221, 221);
  background-image: url('https://i0.wp.com/saintpolicesystems.com/wp-content/uploads/2018/06/blue-light-backgrounds-background-opera-image-graphics-community-speeddials.jpg?w=1440');
  text-align: center;
}

.healthy-living {
  color: rgb(143, 53, 53);
  font-size: 25px;
  margin: 5%;
  font-family: 'Teko', sans-serif;
}

.cardTitle {
  font-family: 'Anton', sans-serif;
  color: rgb(143, 53, 53);
}

.cardText {
  font-family: 'Fira Sans', sans-serif;
  color: rgb(179, 113, 113);
}

.healthyTips {
  font-family: 'Anton', sans-serif;
  color: rgb(143, 53, 53);
  margin-top: 5%;
  margin-bottom: 3%;
}

.carsouselInfo {
  font-family: 'Teko', sans-serif;
  color: rgb(82, 66, 66);
} */
