 /* .container {
    position: relative;
    float: inline-end;
    background-color: rgb(116, 218, 116) */
     
     /* width: 100%;
    max-width: 400px;  */
    /* text-align: center;
    padding: 10px 10px;
    

  } 
 
 
  
  
  
 
/*   
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(197, 86, 86);
    color: white;
    font-size: 25px;
    padding: 5px 100px;
    border: none;
    border-radius: 5px;
    text-align: right;
    display: flex;
  }
  
  .container .btn:hover {
    background-color: black;
  } */



/* .fixed{
  position: absolute;

} */